---
layout: default
title: Topics
---
<h1>Topics</h1>

<div class="topic">
  {% for topic in site.data.topics %}
    <div class="topic-container">
      <div class="topic-name">
        <h2>{{ topic.name }}</h2>
      </div>
      <ul>
        {% for post in site.posts %}
          {% if post.path contains topic.name %}
            <li>
              <div class="post-head">
                <div class="title"><a href="{{ post.url }}">{{ post.title || upcase }}</a></div>
                <div class="date">{{ post.date | date_to_string }}</div>
              </div>
              <div class="preview">
                {{ post.excerpt }}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>