@import "navigation.css";
@import "topic.css";
@import "post.css";
@import "markdown.css";

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;

    width: 90vw;
    height: 2rem;

    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translate(-50%, 0%);

    border: 1px solid black;
}

.content {
    width: 90vw;

    padding: 2rem 3rem;
    box-sizing: border-box;

    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translate(-50%, 0%);

    border: 1px solid black;
}